body {
  background-color: var(--color-bg);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  background-color: var(--color-bg);
}

.main-header {
  text-align: center;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: .5rem;
}

.main-navigation-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.main-navigation-bar ul li a {
  margin: 1rem;
  padding: 0 5px;
}

.main-footer {
}

.page .title {
  font-size: 1.5rem;
  text-align: center;
}

/* About page */

.about-page {

}

.about-page .pfp {
  width: 50%;
  margin: auto;
  border-radius: 50%;
  border: var(--thin-border);
}