:root {
  --font-size-base: 16px;
  --color-primary: #ffffff;
  --color-bg: #000000;
  --thin-border: solid .2rem white;
}

body {
  background-color: var(--color-bg);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: var(--color-bg);
}

.main-header {
  text-align: center;
  margin-bottom: 1rem;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.main-navigation-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
}

.main-navigation-bar ul li a {
  padding: 0 1rem;
  margin: .5rem;
  text-decoration: none;
  display: block;
}

.main-navigation-bar ul li .active {
  font-weight: bold;
}

.main-footer {
}

.page .title {
  font-size: 1.5rem;
  text-align: center;
}

/* About page */

.about-page {
  text-align: center;
}

.about .pfp {
  width: 50%;
  margin: auto;
  border-radius: 50%;
  border: var(--thin-border);
}

.about .name {
  margin: 0;
}

.about .location {
  margin-top: 0;
  font-weight: lighter;
}

.about-socials ul {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: .2rem;
  list-style: none;
  padding-left: 0;
}

.about-socials ul li a {
  display: block;
  text-decoration: none;
  padding: .5rem;
  background-color: white;
  color: black;
}

.about-socials ul li a:hover {
}

.about-bio p {
  text-indent: 2rem;
  margin: 1rem;
}