* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0A0A0B;
    --secondary-color: #383838;
    --third-color: #595959;
    --fourth-color: #777677;
    --fifth-color: #989798;
}

html, body {
    height: 100%;
}

body {
    background: rgb(27, 27, 27);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

a:not(.project_link) {
    color: white;
    text-decoration: dotted;
    text-decoration-line: underline;
}

a:not(.project_link):hover {
    color: white;
    text-decoration: underline;
}

/* ############## */
/* #   Header   # */
/* ############## */

/* "Leeous" */
#index-header {
    text-align: center;
}

#index-header .title {
    display: inline-block;
    font-size: 3em;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: .3em;
    user-select: none;
    transition: all 1s animation;
}

/* #index-header .title a {
    text-decoration: none;
    color: #fff;
}

#index-header .title:hover {
    animation: infinite 2s pride;
}

@keyframes pride {
    0% {
        color: 2px #ff0000;
    }
    16% {
        color: 1px #ff9800;
    }
    33% {
        color: 2px #ffff00;

    }
    50% {
        color: 1px #009800;

    }
    66% {
        color: 2px #0000ff;
        
    }
    81% {
        color: 1px #980098;

    }
} */

/* Navagation - Menu */
#index-header .nav .menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

/* Navagation - Link */
#index-header .nav .menu .nav-item .nav-link {
    color: grey;
    margin: 5px;
    padding: 4px 10px;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: solid 0px #fff;
    transition: ease-in-out .2s all;
}

#index-header .nav .menu .nav-item .nav-link:hover {
    color: #fff;
    border-bottom: solid 3px #fff;

}

/* Navagation - Active link highlight */
#index-header .nav .menu .nav-item .active-page {
    color: #fff;
    border-bottom: solid 1.5px #fff;
}

/* ########## */
/* #  Main  # */
/* ########## */

/* Page margin */
#index-main {
    margin: 3em 1em;
}

#index-footer {
    flex-shrink: 0;
}

/* Main container */
#index-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Pages */
#about, #projects, #blog {
    display: none;
}

.page {
    border-radius: 0;
    /* box-shadow: var(--secondary-color) -4px 4px 0 4px; */
}

.page-title {
    font-size: 3em;
    margin-bottom: 0;
}

.page-subtitle {
    margin-top: 5px;
    font-weight: 300;
}

/* About */

#about {
    text-align: center;
}

#about p {
    margin: 0 10%; 
    text-indent: 20px;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: .4px;
}

#bio h1, #skills h1 {
    margin: 15px 0
}

#skills {
}

#skills .skill-label {
    user-select: none;
    margin: .5em;
    text-align: left;
    justify-content: space-between;
    border-radius: 12px;
    transform: translateY(-6px);
}

#skills .skill-label summary {
    border-radius: 12px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--secondary-color);

}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.skill-list li {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    background-color: black;
    border-radius: 10px;
}

#pfp {
    width: 50%;
    border: solid 2px #fff;
    border-radius: 50%;
    margin-top: 15px;
}

.buy_me_a_coffee {
    grid-column-start: 1;
    grid-column-end: 3;
}

.buy_me_a_coffee img {
    border-radius: 12px;
    border-bottom: 5px var(--main-color) solid;
    width: 100%;
}

#about nav ul {
    display: grid;
    grid-template-columns: 46% 46%;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#about nav ul li {
    margin: .6em;
}

#about nav li.double-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

#about nav ul li.social-button a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    user-select: none;
    background: var(--main-color);
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    text-decoration: none;
}

#about nav ul li.social-button a span {
    display: block;
    border-radius: 12px;
    padding: 10px 5px;
    font-size: 1.25rem;
    background: var(--secondary-color);
    color: #fff;
    transform: translateY(-6px);
    will-change: transform;
    transition: transform .1s ease;
}

#about nav ul li.social-button a:hover span {
    transform: translateY(-8px);
}

#about nav ul li.social-button a:active span {
    transform: translateY(-2px);
}

#about nav ul li.social-button a.steam span {
    background: #2e3746;
}
#about nav ul li.social-button a.discord span {
    background: #5865f2;
}
#about nav ul li.social-button a.github span {
    background: #4078c0;
}

#about nav ul li.social-button a.threads span {
    background: #101010;
}

#about nav ul li.social-button a.email span {
    background: var(--secondary-color);
}

/* Projects */

#projects div:first-child {
    margin-top: 0;
}

.project {
    margin: 10px 0;
    border: solid 1px #fff;
}

.project_title {
    margin: .5em 0 1px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
}

.project_last_update {
    color: grey;
    font-size: .8em;
    text-align: center;
}

.project_desc {
    margin: 8px 13px 15px 14px; 
    text-align: center;
    word-spacing: 1px;
}

.project_desc a:visited {
    color: grey;
}

.project_links {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: space-evenly;
}

.project_links li {
    width: 100%;
}

.project_link {
    font-weight: bold;
    display: block;
    padding: 7.5px;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    color: black;
    transition: ease-in-out .1s transform;
}

.project_link:hover, .project_link:active {
    transform: translateY(-5px);
}

.project-background {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.download {

}

.github {
    background-color: #4078c0;
    color: #fff;
}

.steam {
    color: #fff;
    background-color: var(--secondary-color);
}

/* Blog */

#blog {

}

#blog article {
    /* margin-left: 10%;
    margin-right: 10%; */
}

#blog article .title {
    font-size: 2em;
    text-align: center;
    margin-bottom: .1em;
}

#blog article .date {
    text-align: center;    
    margin-bottom: 1em;
    font-weight: 200;
}

#blog article p {
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: .02em;
}

#blog article p a {
    color: white;
}

#blog article p a:hover {
    text-decoration: underline;
}

#blog .post .slideshow {
    display: flex;
    flex-direction: column;
    margin: 1.0em 0;
}

#blog .post .slideshow .slide {
    display: none;
}

#blog .post .slideshow .active-slide {
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

#blog .post .slideshow .slideshow-controls {
    display: flex;
    justify-content: center;
    
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

#blog .post .slideshow .slideshow-controls .thumbnail {
    filter: grayscale(.5);
    cursor: pointer;
    transition: all ease .2s;
    border: solid 1px rgb(27, 27, 27);
    margin: 1em .5em 0 .5em;
    width: 6em;
}

#blog .post .slideshow .slideshow-controls .thumbnail:hover {
    filter: none;
    border: solid 1px #fff;
}

#blog .post .slideshow .slideshow-controls .thumbnail.active_thumbnail {
    filter: none;
    cursor: default;
    border: solid 1px #fff;
}

/* Maybe in the future */

/* ############ */
/* #  Footer  # */
/* ############ */

#index-footer {
    padding: 3em 0;
    text-align: center;
    cursor: default;
}

#pageLastUpdated {
    color: gray;
    cursor: default;
}

#pageLastUpdated a {
    color: grey;
    text-decoration: dotted;
    text-decoration-line: underline;
    font-style: italic;
}

#pageLastUpdated a:visited {
    color: grey;
    text-decoration: dotted;
    text-decoration-line: underline;
}

#pageLastUpdated a:hover {
    text-decoration: underline;
}

#pageLastUpdated .update-desc {
    text-transform: lowercase;
    font-size: .8em;
}
/* ########### */
/* #  Other  # */
/* ########### */

#poweredBy span.coffee {
    display: inline-block;
    transform: rotate(0), translateX(0), translateY(0);

}

#poweredBy:hover span.coffee {
    animation: .2s shake infinite;
}

details[open] summary ~ * {
    animation: sweep .4s ease-in-out;
}

details[open] summary ~ * {
    animation: sweep .4s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; transform: rotateX(30deg);}
    100%  {opacity: 1;  transform: rotateX(0deg);}
}

/* ################ */
/* #  Animations  # */
/* ################ */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ################### */
/* #  Media Queries  # */
/* ################### */

@media screen and (min-width: 900px) {
    #index-header .title {
        font-size: 3em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: .3em;
    }

    #index-main {
        margin: 2% 25%
    }
    
    #index-footer {
        margin: 2% 5%;
        padding: 3em 0;
        text-align: left;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .page-subtitle {
        margin-top: 5px;
        font-weight: 300;
    }
    
    #about #pfp {
        width: 50%; 
        border: solid 2px #fff;
        border-radius: 50%;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .buy_me_a_coffee img {
        border-radius: 20px;
    }

    #blog article .title {
        font-size: 3em;
        margin-bottom: 0;
        text-align: left;
    }
    
    #blog article .date {
        font-size: 1em;
        margin-bottom: 1.2em;
        font-weight: 200;
        text-align: left;
    }
    
    #blog article p {
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.5em;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1500px) {
    #index-header .title {
        font-size: 3em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: .3em;
    }

    #index-main {
        margin: 2% 30%;
    }
    
    #index-footer {
        margin: 0 10%;
        padding: 2em 0;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .page-subtitle {
        margin-top: 5px;
        font-weight: 300;
    }
    
    #about #pfp {
        width: 65%; 
        border: solid 2px #fff;
        border-radius: 50%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #about #bio {
        font-size: 1.2em;
    }
}

/* 4K/TV */
@media screen and (min-width: 2000px) {
    #index-header .title {
        font-size: 3em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: .3em;
    }

    #index-main {
        margin: 2% 38%;
    }
    
    #index-footer {
        margin: 0 10%;
        padding: 2em 0;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .page-subtitle {
        margin-top: 5px;
        font-weight: 300;
    }
    
    #about #pfp {
        width: 60%; 
        border: solid 2px #fff;
        border-radius: 50%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #about #bio {
        font-size: 1.2em;
    }
}