* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0A0A0B;
    --secondary-color: #383838;
    --third-color: #595959;
    --fourth-color: #777677;
    --fifth-color: #989798;
    --x: 0px;
    --y: 0px;
    --red: #e60000;
    --orange: #ff8e00;
    --yellow: #ffef00;
    --green: #00821b;
    --blue: #004bff;
    --purple: #780089;
    --clear: rgba(0, 0, 0, 0);
    --firstStep: 2px;
    --secondStep: 3px;
    --thirdStep: 4px;
    --forthStep: 5px;
    --fifthStep: 6px;
    --sixthStep: 7px;
}

html, body {
    height: 100%;
}

body {
    background: rgb(27, 27, 27);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a:not(.project_link, .social-button a) {
    color: white;
    text-decoration: dotted;
    text-decoration-line: underline;
}

a:not(.project_link, .social-button a):hover {
    color: white;
    text-decoration: underline;
}

/* ############## */
/* #   Header   # */
/* ############## */

/* WIP banner */
#wip-banner {
    background-color: rgb(90, 131, 206);
    text-align: center;
    padding: 1em;
    display: none;
}

/* "Leeous" */
#index-header {
    text-align: center;
}

#index-header .title {
    display: inline-block;
    font-size: 5em;
    justify-content: center;
    margin-top: .5em;
    margin-bottom: .3em;
    user-select: none;
    color: #fff;
    font-weight: 800;
    letter-spacing: 4px;
    -webkit-text-stroke: #0A0A0B 1.5px;

}

#index-header .title:hover {
    animation-play-state: running;
}

/* Navagation - Menu */
#index-header .nav .menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

/* Navagation - Link */
#index-header .nav .menu .nav-item .nav-link {
    color: grey;
    margin: 5px;
    padding: 4px 10px;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: solid 0px #fff;
    transition: ease-in-out .2s all;
    user-select: none;
}

#index-header .nav .menu .nav-item .nav-link:hover {
    color: #fff;
    border-bottom: solid 3px #fff;

}

/* Navagation - Active link highlight */
#index-header .nav .menu .nav-item .active-page {
    color: #fff;
    border-bottom: solid 1.5px #fff;
}

/* ########## */
/* #  Main  # */
/* ########## */


/* Main container */
#index-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3em 1em;
    transition: ease-in-out .2s all;
}

#index-footer {
    flex-shrink: 0;
}

/* Pages */
#about, #projects, #blog {
    display: none;
}


.page-title {
    font-size: 3em;
    margin-bottom: 0;
}

.page-subtitle {
    margin-top: 5px;
    font-weight: 300;
}

/* About */

#about {
    text-align: center;
}

#about p {
    margin: 0 10%; 
    text-indent: 20px;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: .4px;
}

#bio h1, #skills h1 {
    margin: 15px 0
}

#skills {
}

#skills .skill-label {
    user-select: none;
    text-align: left;
    justify-content: space-between;
    border-radius: 12px;
    transform: translateY(-6px);
}

#skills .skill-label summary {
    cursor: pointer;
    padding: 10px 15px;
    margin: .6em;
    border: solid 1px white;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    margin: .6em;
    justify-content: center;
}

.skill-list li {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    border: solid 1px white;
}

#pfp {
    width: 75%;
    border: solid 1px #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: ease-in-out .2s width;
}

.easter-egg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.easter-egg img {
    width: 100%;
    height: 100%;
}

.buy_me_a_coffee {
    grid-column-start: 1;
    grid-column-end: 3;
}

.buy_me_a_coffee img {
    border-radius: 12px;
    border-bottom: 5px var(--main-color) solid;
    width: 100%;
}

#about nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#about nav ul li {
    margin: .6em;
}

li.double-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

.social-button a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid white;
    user-select: none;
    padding: 10px;
    cursor: pointer;
    outline-offset: 4px;
    text-decoration: none;
    color: white;
}

#about nav ul li.social-button a span {
    display: block;
    padding: 10px 5px;
    font-size: 1.25rem;
    color: #fff;
    will-change: transform;
    transition: transform .1s ease;
}

#about nav ul li.social-button a.steam {
    border-color: #00adee;
    color: #00adee;
    transition: .2s background-color ease-in-out;
}

#about nav ul li.social-button a.discord {
    border-color: #5e5fe8;
    color: #5e5fe8;
    transition: .2s background-color ease-in-out;
}

#about nav ul li.social-button a.github {
    border-color: #4078c0;
    color: #4078c0;
    transition: .2s background-color ease-in-out;
}

#about nav ul li.social-button a.threads {
    border-color: #f80059;
    color: #f80059;
    transition: .2s background-color ease-in-out;
}

#about nav ul li.social-button a.coffee {
    border-color: #ffdd00;
    color: #ffdd00;
    transition: .2s background-color ease-in-out;
}

#about nav ul li.social-button a.steam:hover {
    background-color: #014b66;
}

#about nav ul li.social-button a.discord:hover {
    background-color: #2c2c6d;
}

#about nav ul li.social-button a.github:hover {
    background-color: #162a43;
}

#about nav ul li.social-button a.threads:hover {
    background-color: #660024;
}

#about nav ul li.social-button a.coffee:hover {
    background-color: #594d00;
}

/* Projects */

/* .projects_container {
    display: grid;
    column-gap: 3em;
    grid-template-columns: 50% 50%;
    width: 100%;
} */

.project {
    border: solid 1px white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em 0;
}

.project:first-child {
    margin-top: 0;
}

.project_title {
    margin: 1em 0em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
}

.project_desc {
    margin: 0em 1em 1em 1em; 
    text-align: center;
    word-spacing: 1px;
}

.project_last_update {
    color: grey;
    font-size: .8em;
    text-align: center;
}

.project_img {
    width: 25%;
    display: block;
    margin: 5px auto 5px auto;
}

.project_desc a:visited {
    color: grey;
}

.project_links {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    align-items: flex-end;
}

.project_links li {
    width: 100%;
}

.project_link {
    font-weight: bold;
    letter-spacing: .1em;
    display: block;
    padding: 7.5px;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    color: black;
    transition: cubic-bezier(0.79, 0.33, 0.19, 0.91) .1s transform;
}

.project-background {
    background-image: linear-gradient(rgb(0 0 0/50%) 0 0);
}

.project_github {
    background-color: #4078c0;
    color: white;
}
.project_download {
    background-color: black;
    color: white;
}
.project_nexus {
    background-color: #d98f40;
    color: white;
}
.project_steam {
    background-color:  #171a21;
    color: white;
}


/* Blog */

#blog {

}

#blog article:not(:first-child) {
    margin-top: 2.5em;
}

#blog article .title {
    font-size: 2em;
    text-align: center;
    margin-bottom: .1em;
}

#blog article .date {
    text-align: center;    
    margin-top: .5em;
    margin-bottom: 1em;
    font-weight: 200;
}

#blog article p {
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: .02em;
}

#blog article p a {
    color: white;
}

#blog article p a:hover {
    text-decoration: underline;
}

#blog .post .slideshow {
    display: flex;
    flex-direction: column;
    margin: 1.0em 0;
}

#blog .post .slideshow .slide {
    display: none;
}

#blog .post .slideshow .active-slide {
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

#blog .post .slideshow .slideshow-controls {
    display: flex;
    justify-content: center;
    
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

#blog .post .slideshow .slideshow-controls .thumbnail {
    filter: grayscale(.5);
    cursor: pointer;
    transition: all ease .2s;
    border: solid 1px rgb(27, 27, 27);
    margin: 1em .5em 0 .5em;
    width: 6em;
}

#blog .post .slideshow .slideshow-controls .thumbnail:hover {
    filter: none;
    border: solid 1px #fff;
}

#blog .post .slideshow .slideshow-controls .thumbnail.active_thumbnail {
    filter: none;
    cursor: default;
    border: solid 1px #fff;
}

/* Maybe in the future */

/* ############ */
/* #  Footer  # */
/* ############ */

#index-footer {
    padding: 3em 0;
    text-align: center;
    cursor: default;
}

#pageLastUpdated {
    color: gray;
    cursor: default;
}

#pageLastUpdated a {
    color: grey;
    text-decoration: dotted;
    text-decoration-line: underline;
    font-style: italic;
}

#pageLastUpdated a:visited {
    color: grey;
    text-decoration: dotted;
    text-decoration-line: underline;
}

#pageLastUpdated a:hover {
    text-decoration: underline;
}

#pageLastUpdated .update-desc {
    text-transform: lowercase;
    font-size: .8em;
}
/* ########### */
/* #  Other  # */
/* ########### */

#poweredBy span.coffee {
    display: inline-block;
    transform: rotate(0), translateX(0), translateY(0);

}

#poweredBy:hover span.coffee {
    animation: .2s shake infinite;
}

details[open] summary ~ * {
    animation: sweep .4s ease-in-out;
}

details[open] summary ~ * {
    animation: sweep .4s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; transform: rotateX(30deg);}
    100%  {opacity: 1;  transform: rotateX(0deg);}
}

/* ################ */
/* #  Animations  # */
/* ################ */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes rainbow-title {
    
    0% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--red),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--orange),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--yellow),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--green),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--blue),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--purple);
    }

    16.6% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--purple),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--red),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--orange),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--yellow),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--green),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--blue);
    }

    33.2% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--blue),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--purple),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--red),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--orange),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--yellow),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--green);
    }

    50% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--green),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--blue),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--purple),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--red),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--orange),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--yellow);
    }

    66.4% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--yellow),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--green),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--blue),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--purple),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--red),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--orange);
    }

    83% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--orange),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--yellow),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--green),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--blue),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--purple),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--red);
    }
    100% {
        text-shadow: 
            calc(var(--x) * -1) calc(var(--y) * -1) 0px var(--red),
            calc(var(--x) * -2) calc(var(--y) * -2) 0px var(--orange),
            calc(var(--x) * -3) calc(var(--y) * -3) 0px var(--yellow),
            calc(var(--x) * -4) calc(var(--y) * -4) 0px var(--green),
            calc(var(--x) * -5) calc(var(--y) * -5) 0px var(--blue),
            calc(var(--x) * -6) calc(var(--y) * -6) 0px var(--purple);
    }
}

/* ################### */
/* #  Media Queries  # */
/* ################### */
@media screen and (min-width: 600px) {
    #about #pfp {
        width: 45%;        
    }
}

@media screen and (min-width: 1000px) {
    #index-header .title {
        font-size: 5em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: .3em;
        animation: 1s ease-in-out  infinite running normal rainbow-title;
    }

    #index-main {
        margin: 2% 25%
    }
    
    #index-footer {
        margin: 0 5%;
        padding: 3em 0;
        text-align: left;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .page-subtitle {
        margin-top: 5px;
        font-weight: 300;
    }
    
    #pfp {
        width: 40%; 
        border: solid 2px #fff;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .buy_me_a_coffee img {
        border-radius: 20px;
    }

    #blog article .title {
        font-size: 3em;
        margin-bottom: 0;
        text-align: left;
    }
    
    #blog article .date {
        font-size: 1em;
        margin-bottom: 1.2em;
        font-weight: 200;
        text-align: left;
    }
    
    #blog article p {
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.5em;
        font-size: 1.1em;
    }

}

@media screen and (min-width: 1000px) {

    .projects_container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        gap: 2em 2em;
        grid-auto-flow: row;
        align-items: flex-start;
        justify-content: center;
    } 

    /* Remove padding for list view */
    .project {
        margin: 0;
    }

    #index-header .title {
        font-size: 6em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: .3em;
    }

    #index-main {
        margin: 2% 25%;
    }
    
    #index-footer {
        margin: 0 10%;
        padding: 2em 0;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .page-subtitle {
        margin-top: 5px;
        font-weight: 300;
    }
    
    #about #pfp {
        width: 40%; 
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #about #bio {
        font-size: 1em;
    }
}

/* 4K/TV */
@media screen and (min-width: 2000px) {
    #index-header .title {
        font-size: 6em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: .3em;
    }

    #index-main {
        margin: 2% 35%;
    }
    
    #index-footer {
        margin: 0 10%;
        padding: 2em 0;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .page-subtitle {
        margin-top: 5px;
        font-weight: 300;
    }
    
    #about #pfp {
        width: 45%; 
        border: solid 2px #fff;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #about #bio {
        font-size: 1.1em;
    }
}